<section class="personStart">
  <div class="imgeContainer">
    <img
      src={{image}}
      alt={{name}}>
  </div>
  <div>
    <p class="name">{{hi}}</p>
    <p class="title">A Full Stack Developer. I Help Startups <span class="text_gradient">Launch</span>, Create <span
        class="text_gradient">Shops</span> And <span class="text_gradient">Grow</span> Their Products.</p>
    <p class="description">I have many years of experience as a software engineer. Regarded as a hands-on and
      successful developer with experience managing cross-functional teams in a time-constrained environment to deliver
      projects on time and on budget.</p>
  </div>
</section>
