section.personStart{
  display: flex;
  justify-content: space-evenly;
  background: rgb(0,0,0);
  background: linear-gradient(90deg, rgba(0,0,0,1) 14%, rgba(51,138,245,1) 95%);
  align-items: center;
  padding: 1em;
  gap: 15px;
  color: white;
  .imgeContainer img{
    border-radius: 100%;
    border: 5px solid #338AF5;
    transition: ease 1s;
    &:hover{
      transform: scale(1.1);
    }
  }
  .name{
    font-size: 30px;
    font-weight: bold;
    padding: 3px 20px;
    margin-bottom: 5px;
    border-radius: 5px;
    display: inline-block;
    background-color: rgb(255 255 255 / 30%);
  }
  .title {
    font-size: 50px;
    span.text_gradient {
      font-size: 50px;
      background-image: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      animation: gradientMotion 4s infinite linear;
    }
  }
  .description {
    font-size: 14px;
  }
}
