section {
  width: 80%;
  margin: 5em auto;
  background: #e7e7e7;
  padding: 1em;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    h2 {
      margin: 0.5em 0;
    }
  .inputs_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    input[type="text"],
    textarea,
    input[type="email"],
    input[type="tel"] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  }
  button {
    width: 100%;
    margin: 1em 0;
    border: transparent;
    height: 35px;
    border-radius: 10px;
    background: #1e90ff;
    color: white;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      opacity: 0.8;
    }
  }
}
