/* You can add global styles to this file, and also import other style files */


//varibles
$primary-color: #338AF5;
$complementary-color: #F5A033;
$dark-color: #333;
$light-color: #fff;
$gray-color: #ccc;


body {
  margin: 0;
  padding: 0;
  position: relative;
  box-sizing: border-box;
  background-color: white;
  font-size: 20px;
  font-family: monospace, monospace;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

//effects

/* Parpadeo */
@-moz-keyframes parpadeo{
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

/* End Parpadeo */

/* write machine*/

/*
usage:

animation: typing 2s steps(12), blink 0.5s step-end infinite alternate;
*/

@keyframes typing {
  from { width: 0 }
}

@keyframes blink {
  50% { border-color: transparent }
}

/* end write machine*/


/* gradient motion */

@keyframes gradientMotion {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

/* end gradient motion */

